* {
box-sizing: border-box;
}

body, html {
	height: 100%;
    margin: 0;
    font-family: 'Times New Roman', cursive;
  }
  
.h1{
    color: darkgreen;
}
  
  /* Position text in the middle of the page/image */
  .bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgb(184, 175, 175); /* Black w/opacity/see-through */
	color: Black;
	font-weight: bold;
    font-family: 'Times New Roman', cursive;
    border: 3px solid #151414;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 5px;
	text-align: center;
	line-height: 1.5em;}

    .btn{
        padding-top: 20px;
    }
  
  .btn button{
	  background-color: #22223B;
	  font-family: 'Big Shoulders Stencil Display', cursive;
      color: white;
	  border-radius: 20px;
	  padding: 10px;
	  
  }
  
  .btn button:hover{
	  background-color: #4A4E69;
	  transition: 0.5s;
  }
  
  .layoutAuthentication_content{
	background-color: #22223B;
	color: white;
	font-family: 'Times New Roman', cursive;
  }
  .card shadow-lg border-0 rounded-lg mt-5{
	padding: 20px;
	background-color: #4A4E69;
	color: white;
	font-family: 'Times New Roman', cursive;

  }