body,
html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f6f8fa; /* Light grey background */
  color: #24292e; /* Dark grey text color */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; /* Add padding to ensure top part is visible */
  padding-left: 5%; /* Add padding to ensure top part is visible */
  padding-right: 150px; /* Add padding to ensure top part is visible */
}

* {
  box-sizing: border-box;
}

/* Standard container style for login */
.login-container {
  display: flex;
  flex-direction: column;
  max-width: 750px; /* Adjust width to make the form frame wider */
  width: 150%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: white;
  padding: 30px;
  position: relative;
  border: 1px solid #ddd; /* Normal border */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
}

.login-container:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.branding {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
}

.form-group input:focus {
  outline: none;
  border-color: #0366d6;
  box-shadow: 0 0 5px rgba(3, 102, 214, 0.5);
}

.form-group.remember-forgot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-primary {
  background-color: #2ea44f;
  border-radius: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #22863a;
  transform: translateY(-2px);
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #0366d6;
  text-decoration: none;
}

.signup-link a:hover {
  color: #0056b3;
  text-decoration: underline;
}
